<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>About Alicia Tu </h1>
    </div>

<div class = "row" >
      <div class="col"">
    <p>
      I am a student at <a href ="http://www.brandeis.edu">
        Brandeis University </a>
    </p>
      <p> I major in Linguistics, and now I'm considering double major
        in ComputerScience. I also have a minor in Classical Studies.
      </p>
<p> I'm 20 years old. </p>
<p> I am from Beijing, China. </p>
<p> I prefer dogs over cat. </p>
<p> I like the color purple. </p>
</div>
<div class="col">
  <img width = "400" src = "/images/alicia.jpg">
</div>
</div>

 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
