
<div class="jumbotron">

<h1> Here is your class list </h1>
<hr>

<p>List all classes you want and need to take below </p>

<form method = "post" action = "/class">
  <input type="text" name="className"> Class Name <br>
  <input type="number" name="credit"> Credit <br>
  <input type="submit">
  </form>
</div>
