
    <div class="jumbotron">
        <h1>Check Covid-19 Stats!</h1>
    </div>
    <form method = "post" action = "/c19">
    Enter a date that you want to look up (in the form of 20200501) <br>
    <input type = "text" name = "date">
    <input type = submit>
    </form>
