
<div class="jumbotron">

<h1> Here is an example class list for a Brandeis Student: </h1>
<br>
<hr>
<table class = "table table-bordered table-striped">
  <thead>
    <tr>  <th> Class Name </th>
      <th> credit </th> </tr>
  </thead>
  <tbody>
    <tr> <td> LING 100A </td>
      <td> 4 </td> </tr>
    <tr> <td> LING 110A  </td>
      <td> 4 </td> </tr>
    <tr> <td> COSI 10A </td>
      <td> 4 </td> </tr>
    <tr> <td> COSI 12B </td>
      <td> 4 </td> </tr>  

</div>
