<%- include('bootheader') -%>

<div class="jumbotron">

<h1> Here is an example class list for a Brandeis Student: </h1>
<br>
<h3> Alicia's Class List</h3>
<p> LING 100A (4) </p>
<p> LING 110A (4) <p>
<p> COSI 10A (4) </p>
<p> COSI 12B (4) </p>

You earn 16 credits for this semester.
</div>

<%- include('bootfooter') -%>
