<%- include('bootheader') -%>

<div class="jumbotron">

<h1> Here is an example class list for a Brandeis Student: </h1>
<br>
<hr>
<p> LING 100A (4) </p>
<p> LING 110A (4) <p>
<p> COSI 10A (4) </p>
<p> COSI 12B (4) </p>

</div>

<%- include('bootfooter') -%>
