<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Personal Information Gatherer</h1>
        <p>Collect information from new Brandeis students </p>
        <p> This app collects your name, age, school, favorite animal,
          academic interests, hometown, and favorite color. </p>

    </div>



<%- include('bootfooter') -%>
