<%- include('bootheader') -%>

<div class="jumbotron">

<h1> App for new Brandeis Students </h1>

<p>Welcome to Brandeis! </p>

<ul>
  <li><a href="/about"> About </a></li>
  <li><a href="/demo"> Personal Information Gatherer </a> </li>
  <li><a href="/example"> Example class list </a></li>
  <li><a href="/covid19"> COVID19 data </a></li>
  <% if (loggedIn) {%>
  <li></li>
  <li><a href="/class">Go to the class page </a></li>
  <li><a href="/profile">See your profile </a></li>
  <li><a href="/profiles">See everyone's profile</a></li>
  <li><a href="/majors">See your major list </a></li>
  <li><a href="/clubs">See your club list </a> </li>
  <% } %>
</ul>
</div>

<%- include('bootfooter') -%>
